<template>
  <div>
    <b-container>
      <b-row>
        <b-col>
          <b-form-input v-model="title" placeholder="Title"></b-form-input>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-textarea
            id="textarea"
            v-model="content"
            placeholder="Enter something..."
            rows="3"
            max-rows="6"
          ></b-form-textarea>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <label for="start-date">วันเริ่มต้น</label>
          <b-form-datepicker
            id="start-date"
            v-model="startDate"
            class="mb-2"
            locale="th"
          ></b-form-datepicker>
        </b-col>
        <b-col>
          <label for="start-time">เวลาเริ่มต้น</label>
          <b-form-timepicker
            id="end-time"
            v-model="startTime"
            locale="th"
          ></b-form-timepicker>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <label for="end-date">วันสิ้นสุด</label>
          <b-form-datepicker
            id="end-date"
            v-model="endDate"
            class="mb-2"
            locale="th"
          ></b-form-datepicker
        ></b-col>
        <b-col>
          <label for="end-time">เวลาสิ้นสุด</label>
          <b-form-timepicker
            id="end-time"
            v-model="endTime"
            locale="th"
          ></b-form-timepicker>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-button @click="addEvent()">Add</b-button>
        </b-col>
      </b-row>
      <b-row>
        <b-col
          ><vue-cal :locale="th" active-view="week" :events="events" @ready="ready($event)" @view-change="viewChange($event)"
        /></b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import VueCal from 'vue-cal'
import 'vue-cal/dist/vuecal.css'
import th from '../locale/cal_th'

export default {
  data () {
    return {
      startDate: '',
      endDate: '',
      startTime: '',
      endTime: '',
      title: '',
      content: '',
      events: [
        {
          start: '2022-03-20 20:40',
          end: '2022-03-20 21:40',
          title: 'นั่งวีดีโอ',
          content: 'นั่งกัดฟันทำตามวีดีโอ',
          class: 'vdo_time'
        }
      ]
    }
  },
  methods: {
    addEvent () {
      const event = {
        start: new Date(this.startDate + ' ' + this.startTime),
        end: new Date(this.endDate + ' ' + this.endTime),
        title: this.title,
        content: this.content,
        class: 'vdo_time'
      }
      console.log(event)
      this.events.push(event)
    },
    ready (e) {
      console.log('ready', e)
    },
    viewChange (e) {
      console.log('view-change', e)
    }
  },
  computed: {
    th () {
      return th
    }
  },
  components: {
    VueCal
  }
}
</script>
<style>
.vuecal__now-line {
  color: #06c;
}
.vuecal__event.vdo_time {
  background-color: rgba(253, 156, 66, 0.9);
  border: 1px solid rgb(233, 136, 46);
  color: #fff;
}
</style>
